*{
    margin: 0;
    box-sizing: border-box;
    
}

main{
    margin-left: 10px;
}

header{
    
    background-image: url(img/pattern.png);
    background-color: #4EA0FF;
    background-size: 250px;
}

.logo{
    width: 160px;
    padding-top: 35px;
    padding-left: 7px;
    padding-bottom: 5px;
}

h1{
    font-size: 30px;
}

.autore{
    color: #808080;
}

.data{
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #009AD5;
}

.crediti{
    font-size: 12px;
}

.articolo{
    margin-top: 20px;
    font-size: 16px;
}

.giallo{
    background-color: yellow;
}

tbody > tr:nth-child(odd){
    background-color: #AFE4F3;

}

thead{
    background-color: #1DAAE5;
    color: #FFFFFF;
    text-align: left;
}

#colonna-sinistra{
    width: 25%;
}

#colonna-centrale{
    width: 25%;
}

#colonna-destra{
    width: 50%;
}

table{
    margin-top: 30px;
}

